.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createTask {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1.2rem;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.tasksStatus {
    width: 48rem;
    display: flex;
    justify-content: space-around;
    color: rgb(55, 101, 255);;
}

.form input {
    height: 2.4rem;
    background-color: rgb(58, 58, 58);
    border: 1rem;
    border-color: black;
    border-radius: 4px;
    width: 25rem;
    margin-right: 0.5rem;
    padding-left: 1rem;
}

.form button {
    height: 2.4rem;
    width: 4rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(55, 101, 255);
    color: white;
}

@media (max-width: 510px) {
    .form input{
        width: 20rem;;
    }

    .tasksStatus {
        width: 38rem;
        display: flex;
        justify-content: space-around;
        color: rgb(55, 101, 255);;
    }

}



