.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.taskContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 32.5rem;
    background-color: var(--grey-500);
    border-radius: 6px;
    margin-top: 1rem;
}


.taskContainer ul{
    width: 25rem;
    padding-left: 0.8rem;
    
}

.taskContainer li {
    list-style: none;
    width: 20rem;
    margin-right: 2rem;
}

.taskContainer li textarea {
    width: 24rem;
    resize: none;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: var(--grey-500);

}

.taskContainer button {
    border: none;
    color: var(--grey-300);
    background-color: var(--grey-500);
    cursor: pointer;
    
}

.taskContainer input {
    margin-left: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.taskContainer input[type='radio'] {
    border: blue;
}

@media (max-width: 550px) {
    .taskContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 28rem;
        background-color: var(--grey-500);
        border-radius: 6px;
        margin-top: 1rem;
    }

    .taskContainer button {
        border: none;
        color: var(--grey-300);
        background-color: var(--grey-500);
        cursor: pointer;
    }

    .taskContainer li textarea {
        width: 20.5rem;
        resize: none;
        border: none;
        color: white;
        font-size: 1rem;
        background-color: var(--grey-500);
    }
    .taskContainer ul{
        width: 21rem;
        padding-left: 0.8rem;
        
    }
}